<head>
<style>
.box {
  background-color: rgb(<%=@red_box%>,<%=@green_box%>,<%=@blue_box%>)
}
.small-box {
  background-color: rgb(<%=@red_sm_box%>,<%=@green_sm_box%>,<%=@blue_sm_box%>)
}
</style>
</head>
<div class="box">
  <div class="small-box"></div>
</div>
